In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
import numpy as np
import pandas as pd

In [4]:
data = pd.read_csv("F:\ML NOTES\Dataset\\Churn_Modelling.csv")

In [5]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [6]:
data.shape

(10000, 14)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [8]:
data.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [9]:
#Splitting the data set into independent variable and target variable

X = data.drop(["RowNumber","CustomerId", "Surname", "Exited"], axis = 1) #also dropping unnecessary column
y = data["Exited"]

In [10]:
X.head()
y.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [11]:
#changing categorical column to dummy_variable
X_new = pd.get_dummies(X, drop_first= True)
X_new.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0

In [12]:
X_new.shape

(10000, 11)

In [13]:
#splitting the dataset into train & test
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X_new, y, test_size = 0.3, random_state = 42)
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((7000, 11), (3000, 11), (7000,), (3000,))

In [14]:
#Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.fit_transform(x_test)

In [15]:
#Let's make the ANN model
import keras
from keras.models import Sequential
from keras.layers import Dense

In [16]:
#Initiliasing the ANN 
classifier = Sequential()

#Adding the input layer and the first hidden layer
classifier.add(Dense(units = 6, kernel_initializer = 'he_uniform', activation = 'relu', input_dim = 11))

#Adding the second hidden layer
classifier.add(Dense(units = 6, kernel_initializer = 'he_uniform', activation = 'relu'))

#Adding the output layer
classifier.add(Dense(units = 1, kernel_initializer = 'glorot_uniform', activation = 'sigmoid'))

In [17]:
#Compiling the ANN
classifier.compile(optimizer = 'Adamax', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [18]:
classifier.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 6)                 72
_________________________________________________________________
dense_1 (Dense)              (None, 6)                 42
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 7
=================================================================
Total params: 121
Trainable params: 121
Non-trainable params: 0
_________________________________________________________________

In [19]:
#fitting the ANN to the training set
model_history = classifier.fit(x_train, y_train,  validation_split= 0.30, batch_size= 10, epochs = 30)

Epoch 1/30
490/490 [==============================] - 2s 4ms/step - loss: 0.6304 - accuracy: 0.6990 - val_loss: 0.5439 - val_accuracy: 0.7948
Epoch 2/30
490/490 [==============================] - 1s 3ms/step - loss: 0.5345 - accuracy: 0.7914 - val_loss: 0.5139 - val_accuracy: 0.7962
Epoch 3/30
490/490 [==============================] - 1s 2ms/step - loss: 0.5122 - accuracy: 0.7922 - val_loss: 0.4994 - val_accuracy: 0.7962
Epoch 4/30
490/490 [==============================] - 1s 2ms/step - loss: 0.4977 - accuracy: 0.7939 - val_loss: 0.4876 - val_accuracy: 0.7957
Epoch 5/30
490/490 [==============================] - 1s 3ms/step - loss: 0.4857 - accuracy: 0.7967 - val_loss: 0.4771 - val_accuracy: 0.7986
Epoch 6/30
490/490 [==============================] - 1s 3ms/step - loss: 0.4754 - accuracy: 0.8006 - val_loss: 0.4675 - val_accuracy: 0.8048
Epoch 7/30
490/490 [==============================] - 1s 2ms/step - loss: 0.4663 - accuracy: 0.8053 - val_loss: 0.4596 - val_accuracy: 0.8090
Epoch 8/30
490/490 [==============================] - 1s 3ms/step - loss: 0.4594 - accuracy: 0.8084 - val_loss: 0.4535 - val_accuracy: 0.8119
Epoch 9/30
490/490 [==============================] - 1s 3ms/step - loss: 0.4534 - accuracy: 0.8100 - val_loss: 0.4486 - val_accuracy: 0.8148
Epoch 10/30
490/490 [==============================] - 1s 3ms/step - loss: 0.4490 - accuracy: 0.8135 - val_loss: 0.4445 - val_accuracy: 0.8167
Epoch 11/30
490/490 [==============================] - 1s 2ms/step - loss: 0.4454 - accuracy: 0.8141 - val_loss: 0.4414 - val_accuracy: 0.8190
Epoch 12/30
490/490 [==============================] - 1s 2ms/step - loss: 0.4423 - accuracy: 0.8145 - val_loss: 0.4387 - val_accuracy: 0.8190
Epoch 13/30
490/490 [==============================] - 1s 2ms/step - loss: 0.4396 - accuracy: 0.8139 - val_loss: 0.4367 - val_accuracy: 0.8195
Epoch 14/30
490/490 [==============================] - 2s 3ms/step - loss: 0.4374 - accuracy: 0.8155 - val_loss: 0.4347 - val_accuracy: 0.8210
Epoch 15/30
490/490 [==============================] - 1s 3ms/step - loss: 0.4354 - accuracy: 0.8182 - val_loss: 0.4331 - val_accuracy: 0.8238
Epoch 16/30
490/490 [==============================] - 1s 2ms/step - loss: 0.4335 - accuracy: 0.8171 - val_loss: 0.4315 - val_accuracy: 0.8248
Epoch 17/30
490/490 [==============================] - 1s 2ms/step - loss: 0.4317 - accuracy: 0.8184 - val_loss: 0.4303 - val_accuracy: 0.8252
Epoch 18/30
490/490 [==============================] - 2s 3ms/step - loss: 0.4299 - accuracy: 0.8182 - val_loss: 0.4296 - val_accuracy: 0.8252
Epoch 19/30
490/490 [==============================] - 1s 3ms/step - loss: 0.4285 - accuracy: 0.8194 - val_loss: 0.4285 - val_accuracy: 0.8252
Epoch 20/30
490/490 [==============================] - 1s 3ms/step - loss: 0.4270 - accuracy: 0.8204 - val_loss: 0.4277 - val_accuracy: 0.8248
Epoch 21/30
490/490 [==============================] - 1s 3ms/step - loss: 0.4256 - accuracy: 0.8196 - val_loss: 0.4266 - val_accuracy: 0.8238
Epoch 22/30
490/490 [==============================] - 2s 4ms/step - loss: 0.4241 - accuracy: 0.8206 - val_loss: 0.4258 - val_accuracy: 0.8238
Epoch 23/30
490/490 [==============================] - 1s 2ms/step - loss: 0.4226 - accuracy: 0.8216 - val_loss: 0.4251 - val_accuracy: 0.8224
Epoch 24/30
490/490 [==============================] - 1s 2ms/step - loss: 0.4213 - accuracy: 0.8214 - val_loss: 0.4244 - val_accuracy: 0.8248
Epoch 25/30
490/490 [==============================] - 1s 2ms/step - loss: 0.4200 - accuracy: 0.8222 - val_loss: 0.4238 - val_accuracy: 0.8252
Epoch 26/30
490/490 [==============================] - 1s 2ms/step - loss: 0.4188 - accuracy: 0.8239 - val_loss: 0.4231 - val_accuracy: 0.8248
Epoch 27/30
490/490 [==============================] - 1s 3ms/step - loss: 0.4178 - accuracy: 0.8235 - val_loss: 0.4226 - val_accuracy: 0.8248
Epoch 28/30
490/490 [==============================] - 1s 2ms/step - loss: 0.4169 - accuracy: 0.8245 - val_loss: 0.4222 - val_accuracy: 0.8248
Epoch 29/30
490/490 [==============================] - 1s 3ms/step - loss: 0.4160 - accuracy: 0.8243 - val_loss: 0.4218 - val_accuracy: 0.8243
Epoch 30/30
490/490 [==============================] - 1s 3ms/step - loss: 0.4149 - accuracy: 0.8249 - val_loss: 0.4215 - val_accuracy: 0.8248

In [20]:
y_pred = classifier.predict(x_test)
y_pred = (y_pred > 0.5)

In [21]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
print("accuracy_score : ", accuracy_score(y_test, y_pred), '\n')
print("confusion_matrix :")
confusion_matrix(y_test, y_pred)
print("classification_report :")
print(classification_report(y_test, y_pred))

accuracy_score :  0.8316666666666667

confusion_matrix :

array([[2337,   79],
       [ 426,  158]], dtype=int64)

classification_report :
              precision    recall  f1-score   support

           0       0.85      0.97      0.90      2416
           1       0.67      0.27      0.38       584

    accuracy                           0.83      3000
   macro avg       0.76      0.62      0.64      3000
weighted avg       0.81      0.83      0.80      3000

### HyperTunning

In [30]:
from keras.layers import Activation

In [31]:
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import GridSearchCV

In [35]:
def model_creation(layers, activation):
    model_tune = Sequential()
    for i, perceptron in enumerate(layers):
        if i == 0:
            model_tune.add(Dense(units=perceptron, kernel_initializer='he_uniform', input_dim = 11))
            model_tune.add(Activation(activation))
        else:
            model_tune.add(Dense(units=perceptron, kernel_initializer='he_uniform'))
            model_tune.add(Activation(activation))
    
    model_tune.add(Dense(1, kernel_initializer= 'glorot_uniform', activation='sigmoid'))  
    
    model_tune.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])
    
    return model_tune

model_tune = KerasClassifier(model_creation, verbose = 0)
model_tune

In [36]:
layers = [(10,), (30, 20), (40, 30, 25), (40, 15)]
activations = ['relu']
param_grid = dict(layers = layers, activation = activations, batch_size = [5], epochs=[20])
grid = GridSearchCV(estimator=model_tune, param_grid=param_grid, cv=3)

In [37]:
results = grid.fit(x_train, y_train)

In [38]:
results.best_params_

{'activation': 'relu', 'batch_size': 5, 'epochs': 20, 'layers': (40, 15)}

In [39]:
prediction = grid.predict(x_test)

WARNING:tensorflow:From C:\Users\welcome\Anaconda3\lib\site-packages\tensorflow\python\keras\wrappers\scikit_learn.py:241: Sequential.predict_classes (from tensorflow.python.keras.engine.sequential) is deprecated and will be removed after 2021-01-01.
Instructions for updating:
Please use instead:* `np.argmax(model.predict(x), axis=-1)`,   if your model does multi-class classification   (e.g. if it uses a `softmax` last-layer activation).* `(model.predict(x) > 0.5).astype("int32")`,   if your model does binary classification   (e.g. if it uses a `sigmoid` last-layer activation).

In [40]:
accuracy_score(prediction, y_test)

0.8653333333333333